[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
api = {editable = true, path = "."}
base58 = "*"
bitstring = "*"
celery = {extras = ["auth", "redis"], version = "*"}
cerberus = "*"
channels = "*"
channels-redis = "*"
django = "*"
django-allow-cidr = "*"
django-cc = {editable = true, path = "./../django-cc"}
django-celery-beat = "*"
django-celery-results = "*"
django-channels2-jsonrpc = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
django-guardian = "*"
django-pgviews-redux = "*"
django-reversion = "*"
django-shortuuidfield = "*"
djangorestframework = "*"
djangorestframework-datatables = "*"
drf-nested-routers = "*"
drf-writable-nested = "*"
ecdsa = "*"
embit = "*"
environs = {extras = ["django"], version = "*"}
flower = "*"
gunicorn = "*"
httpx = "*"
lnurl = "*"
psycopg2 = "*"
pypng = "*"
pyqrcode = "*"
pyscss = "*"
sentry-sdk = "*"
trio = "*"
uvicorn = "*"
bip32 = "*"
mnemonic = "*"
hdwallet = "*"
python-bitcoinrpc = "*"

[dev-packages]
black = "*"
faker = "*"
factory-boy = "*"
isort = "*"
mypy = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-socket = "*"
pytest-trio = "*"
trio-typing = "*"
django-extensions = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
